.canvasWrapper {
    background-color: #000000; /* Задайте потрібний колір фону */
    width: 100vw; /* Розмір по ширині відповідно до ширини вікна */
    height: 50vh; /* Розмір по висоті відповідно до висоти вікна */
  }